<div class="content">
<h1> Welcome, <%= @user.name %> </h1>

<h3> Heres some stats about your account: </h3>
<h3>You have <%= @user.wines.bottle_corked.count %> Bottles in your Collection. </h3>
<button id="wines">Load Wines</button><br>
<div class="corked">
  <ul>
  </ul>
</div>
<h3>You have <%= @user.wines.bottle_drank.count %> Bottles in your Uncorked Collection. </h3>
<div id="drank">
</div>
<%= link_to "See your Wines", wines_path %>  &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "See your Wine Types", types_path%><br>
<br>
<%= link_to "5 Most Popular Wines", popular_path %>
</div>
