<%= form_for(@wine) do |f| %>

<%= render :partial => "form", :locals=>{:f=>f} %>

<% if @wine.type_id %>
<%= f.hidden_field :type_id %>
<% else %>
<%= f.label :type_name %>
<%= f.collection_select :type_id, Type.all, :id, :name %>

<% end %><br> <br>

<%= f.submit %>
<% end %>


<ul class="wine-list">
  </ul>

<script id="wine-template" type="text/x-handlebars-template">
  <h3> Recent Wines... </h3>
  <li> Name: {{name}}, {{year}}  Cost: {{price}}$ </li>
  </script>
