<h1 class="wineName"><%= @wine.name %></h1>

<h3 class="typeName"><%= @wine.type.name %> </h3>
<h3 class="wineYear"><%= @wine.year %> </h3>
<h3 class="winePrice">$<%= @wine.price %> </h3>
<br>
<a href="#" class="js-next" data-id="<%=@wine.id%>">Next...</a>
</br>
<br>


<%= link_to "Edit Wine", edit_wine_path(@wine) %>
<%= link_to "Delete Wine", wine_path(@wine), method: :delete %>

<br>
<br>

<% if @user_wine.uncorked == 0 %>
<%= form_for @user_wine do |f| %>

<%= label_tag :uncorked %>
<%= check_box_tag :uncorked%>

<%= submit_tag "Pop Bottle" %>
<%end %>

<%end%>

<br>


<%= link_to "Back to my wines", wines_path %>
