<!DOCTYPE html>
<html>
  <head>
    <title>RailsWineCellarProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a <%= link_to "Logout", signout_path %></a>
      <a <%= link_to "+ Add Wine", new_wine_path %></a>
      <a <%= link_to "Profile", root_path %></a>
    </div>
    <%= yield %>
  </body>
</html>
